@import '~antd/dist/antd.css';
*{
    padding:0;
    margin:0;
}
ul,li{
    list-style: none;
}
body{
    background-color: #ddd;
}
.headerwrap{
    height: 50px;
    background-color: #444;
}
.headerwrap header{
    width: 1200px;
    margin:0 auto;
}
.headerwrap img{
    width: 120px;
    margin-top:12px;
}
.headerwrap a{
    margin:0 20px;
    color: white;
}
/* header{

} */
/* main */
.main{
    width: 1200px;
    margin:30px auto;
}
.content{
    width: 900px;
    float: left;
    border: 2px solid red;
}
.sider{
    width: 270px;
    height: 500px;
    float: right;
    background-color: blue;
}